body{
    background-color: #1D211F !important;
    color: rgb(0, 0, 0);
}

.color-nav { 
    background-color: #2066d0; 
    color: white;
} 

.font
{
    color: rgb(0, 0, 0);
}

.logout
{
    color: rgb(196, 55, 55);
}